<h1>J U E G O      A H O R C A D O </h1>


<h1><%= @espacio %></h1>
<p>usted tiene Errores <%=@errores%>/3</p>
<form action="/jugar" name="hang" method="post">
	<input type="text" name="letra">
	<input type="hidden" name="espacio" value=<%=@espacio%>>
	<input type="hidden" name="errores" value=<%=@errores%>>
	<input type="hidden" name="posicion" value=<%=@posicion%>>
	<input type="submit" name="Insertar" value="Insertar">

	<pre>
	<%case @errores.to_i  
		when 1%>
		
 			O
 		<%when 2%>
 			 		
 			O
 		   /|\
 		<%when 3%>
 		
 			O
 		   /|\	
 		   /|\

<%end%>
 </pre>
	
</form>






